name: Test Code Base
on:
  push:
    branches-ignore:
      - "main"

jobs:
  test:
    name: Test Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Verify generated code
        run: |
          go generate ./...
          git status --short
          git diff --quiet

      - name: Run Unit Test
        run: |
          go test ./...

  behavior:
    name: Behavioral Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Build CLI
        run: |
          go build -o ./pulse ./cmd/pulse

      - name: Run Behavioral Test
        env:
          PULSE_CLI: ../../pulse
        run: |
          go test ./test/...  -tags=behavior
